name: Test Docs Build

on:
  pull_request:
    branches:
      - master
      - feat/stardust
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test Build
        run: |
          cd documentation
          yarn install --immutable
          yarn build
