name: Test Docs Build

on:
  pull_request:
    branches:
      - master
      - feat/stardust

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test Build
        run: |
          cd documentation
          yarn install --immutable
          yarn build
